html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

/*Header*/

header {
  background-color: black;
  display: flex;
  align-items: center;
}

header span {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

header img {
  padding-left: 0.5rem;
  margin-left: 9rem;
  height: 1.5rem;
}

/*Motorcycles*/

.bike {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.bike .text-content {
  display: block;
  background-color: black;
  width: 20rem;
  height: auto;
  padding: 1.75rem 2.75rem;
  margin-left: 9rem;
  margin-top: 9rem;
}

.text-content h4 {
  padding: 0.25rem;
}

.text-content h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem;
  line-height: 2.5rem;
}

/*Menu*/

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0.75rem 9rem;
  background-color: firebrick;
}

/*Products*/

.items {
  display: flex;
  justify-content: space-between;
  margin: 3rem 9rem;
}

.item {
  width: 30%;
  height: 20rem;
}

.item h4 {
  text-align: center;
  background-color: black;
  width: auto;
  padding: 0.5rem 0;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  max-width: auto;
  padding: 2rem 0;
  border: 4px solid black;
  overflow: hidden;
}

.image-content img {
  max-width: 8rem;
}








/*Products

.items {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5.5rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.item img {
  max-height: 9rem;
  border: 4px solid black;
  max-width: 12.5rem;
  overflow: hidden;
  margin: 2rem;
}


.item h4 {
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-self: baseline;
}
*/
