html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

/*Header*/

header {
  background-color: black;
  display: flex;
  align-items: center;
}

header span {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

header img {
  padding-left: 0.5rem;
  margin-left: 10rem;
  height: 1.5rem;
}

/*Motorcycles*/

.bike {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.bike .text-content {
  display: block;
  background-color: black;
  width: 20rem;
  height: auto;
  padding: 1.75rem 2.75rem;
  margin-left: 10rem;
  margin-top: 9rem;
}

.text-content h4 {
  padding: 0.25rem;
}

.text-content h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem;
  line-height: 2.5rem;
}

/*Menu*/

.menu {
  max-width: 100%;
  padding: 0.75rem 10rem;
  background-color: firebrick;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  display: none;
}

/*Products*/

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.item {
  width: 30%;
  height: 20rem;
}

.item h4 {
  text-align: center;
  background-color: black;
  width: auto;
  padding: 0.5rem 0;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: auto;
  padding: 2rem 0;
  border: 4px solid black;
}

.image-content img {
  max-width: 8rem;
}

/*Info*/

.container {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.small-item {
  width: 35%;
}

.small-item h4 {
  background-color: black;
  padding: 1rem 2rem;
}

.small-item p {
  padding-top: 0.5rem;
}

.info p {
  color: black;
}

/*Footer*/

.footer {
  display: flex;
  align-items: center;
  background-color: black;
}

footer {
  margin-left: 10rem;
  padding: 5rem 0;
}

/*Tablet size*/

@media only screen and (max-width: 1024px){
  body {
    font-size: 16px;
  }

  .item {
    width: 47%;
    overflow: hidden;
  }

  .item.glasses {
    display: none;
  }

  .navigation {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  header img,
  .bike .text-content,
  .items,
  .container,
  footer {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px){
  .bike {
    height: 15rem;
  }

  .bike .text-content {
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 2rem;
  }

  .text-content h4 {
    font-size: 0.77rem;
  }

  .text-content h2 {
    font-size: 1rem;
  }

  .item.watch {
    display: none;
  }

  .items {
    justify-content: center;
  }

  .item {
    width: 90%;
  }

  .info {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .small-item {
    width: 90%;
    padding-bottom: 0.5rem;
  }

  .footer {
    justify-content: center;
  }
}
